# Ignore development directories
/.vscode
/ddev-wp-local-setup
/node_modules
/phpstan
/vendor

# Ignore development files
/.editorconfig
/.markdownlint-cli2.jsonc
/.prettierignore
/.shellcheckrc
/composer.json
/composer.lock
/db.php
/eslint.config.js
/lefthook.yml
/package-lock.json
/package.json
/phpcs.xml
/phpstan.neon
/prettier.config.js
/stylelint.config.js
