# Ignore local development files
logs
node_modules
vendor
composer.lock
package-lock.json

# Ignore all mu-plugins, except those included below
/mu-plugins/*
# !/mu-plugins/cassidydc-clean-core

# Ignore all plugins, except those included below
/plugins/*
# !/plugins/plugin-name

# Ignore all themes, except those included below
/themes/*
# !/themes/cassidydc-block-theme

# Ignore other WP files
languages
uploads
upgrade*
index.php

# Ignore all nested vendor files, except those included below
**/vendor/*
# !/themes/cassidydc-block-theme/vendor/composer
# !/themes/cassidydc-block-theme/vendor/autoload.php

# Ignore third-party files
ai1wm-backups
breeze-config
breeze-minification
cache
wflogs
advanced-cache.php
object-cache.php
